body{
    margin: 0%;
    padding: 0%;
    background-image: url('../images/images\ \(1\).jpg');
    background-size: cover;
}

header{
    background-color: black;
    height: 150px;
}

header img{
    margin-left: 60px;
    margin-top: 10px;

}

header nav{
    float: right;
    margin-top: 70px;
    margin-right: 50px;
    width: 25%;
}

header nav a{
    text-decoration: none;
    color: white;
    padding-right: 10px;
    border: 1px white solid;
}

header nav a:hover{
    color: black;
    background-color: teal;
}

.txtgrp{
    color: white;
    margin-top: 100px;
    margin-left: 110px;
    float: left;
}

form{
    float: right;
    margin-top: 120px;
    margin-right: 10%;
    background-color: white;
    border: 1px black solid;
    height: 20em;
    padding: 20px;
    width: 200px;
    padding-left: 40px;

}

form button{
    width: 85%;
    background-color: rgb(67, 111, 230);
    border: none;
}

form a{
    margin-left: 50px;
}

form h4{
    margin-left: 20px;
}

.container{
    margin-top: 40%;
    margin-left: 100px;
}

.container .box{
    border: 1px white solid;
    float: left;
    width: 22%;
    margin-right: 15px;
    background-color: lightgray;
    padding: 10px;
    

}

.box a{
    color: red;
    text-decoration: none;
}

@media screen and (max-width: 600px){
   nav{
    flex-direction:column;
    display: flex;
    background-color: rgb(85, 160, 51);
    }
    /*
    *{flex-direction: column;
    display: flex;
   
    }*/
}



.hdg {
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.3);
  text-align: center;
  color: #fff;
  margin-top: 1000px;
  margin: auto;
  position: relative;
}